<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.covid_19tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:remove="android:maxSdkVersion"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/covid_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.BasicActivity"
            android:label="Root"
            android:parentActivityName=".ui.BasicActivity" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.BasicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SignUpActivity"
            android:label="Informações do Usuário"
            android:parentActivityName=".ui.SignInActivity"
        />

        <activity
            android:name=".ui.EditUserInformationActivity"
            android:label="Editar informações"
            android:parentActivityName=".ui.MainActivity"
        />

        <activity
            android:name=".ui.AppInformationActivity"
            android:label="Informações sobre o aplicativo"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.SignInActivity"
            android:label="Sign In com Conta Google" />

        <activity
            android:name=".ui.HealthStateActivity"
            android:label="Notificar Informações de Saúde"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.LocationActivity"
            android:label="Minhas Localizacoes"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="Configurações"
            android:parentActivityName=".ui.MainActivity" />

        <receiver
            android:name=".receiver.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.covid_19tracker.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7NKtO0JtAiKCF_KPQ5KPNodaN6mcJEIw"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.covid_19tracker.ui.BasicActivity" />

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_stat_ic_notification" />-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>